<div ng-init="loadRestaurantsList()">
	<!-- Jumbotron -->
	<div class="bg-dark flexbox flex-row flex-j-between flex-a-center p-5">
		<h1 ui-sref="home" class="brand-name text-light">Restaurant Builder | Home</h1>
		<a class="btn btn-primary" ng-click="editRestaurant('new')"><i class="fas fa-plus mr-2"></i>Add Restaurant</a>
	</div>

	<!-- Sidebar -->
	<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="sidebar">
		<md-toolbar class="md-theme-light">
			<h1 class="md-toolbar-tools">{{formAction | uppercase}} RESTAURANT</h1>
		</md-toolbar>
		<md-content layout-padding>
			<form name="restaurantForm" class="w-90">
				<md-input-container class="md-block">
					<label>Restaurant Name</label>
					<input md-maxlength="50" required name="name" ng-model="restaurant.name" />
					<div ng-messages="restaurantForm.name.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="md-maxlength">The name must contain not more than 50 characters</div>
					</div>
				</md-input-container>
				<div layout="row">
					<md-input-container flex="50">
						<label>Owner Name</label>
						<input required name="ownerName" ng-model="restaurant.ownerName" />
						<div ng-messages="restaurantForm.ownerName.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
					<md-input-container flex="50">
						<label>Contact Number</label>
						<input md-maxlength="10" required name="contact" ng-model="restaurant.contact" />
						<div ng-messages="restaurantForm.contact.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="md-maxlength">The contact must contain 10 digits</div>
						</div>
					</md-input-container>
				</div>

				<md-input-container class="md-block">
					<label>Address</label>
					<input md-maxlength="70" required name="address" ng-model="restaurant.location.address" />
					<div ng-messages="restaurantForm.address.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="md-maxlength">The name must contain not more than 70 characters</div>
					</div>
				</md-input-container>

				<div layout="row">
					<md-input-container flex="30">
						<label>City</label>
						<input required name="city" ng-model="restaurant.location.city" />
						<div ng-messages="restaurantForm.city.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
					<md-input-container flex="40">
						<label>State</label>
						<input required name="state" ng-model="restaurant.location.state" />
						<div ng-messages="restaurantForm.state.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
					<md-input-container flex="30">
						<label>Pincode</label>
						<input
							md-maxlength="6"
							md-minlength="6"
							required
							name="pincode"
							ng-model="restaurant.location.pincode"
						/>
						<div ng-messages="restaurantForm.pincode.$error">
							<div ng-message="required">This is required.</div>
							<div ng-message="md-maxlength">Must contain 6 numbers</div>
							<div ng-message="md-minlength">Must contain 6 numbers</div>
						</div>
					</md-input-container>
				</div>

				<md-input-container class="md-block">
					<md-checkbox name="tos" ng-model="project.tos" required>
						I accept the terms of service.
					</md-checkbox>
					<div ng-messages="restaurantForm.tos.$error" multiple md-auto-hide="false">
						<div ng-message="required">You must accept the terms of service before you can proceed.</div>
					</div>
				</md-input-container>

				<div>
					<button
						class="md-raised md-primary md-button md-ink-ripple"
						type="button"
						ng-disabled="restaurantForm.$invalid"
						ng-click="saveRestaurant(restaurant)"
					>
						Save
					</button>
					<button
						class="md-raised btn-default md-button md-ink-ripple"
						type="button"
						ng-click="close()"
					>
						Cancel
					</button>
				</div>
			</form>
		</md-content>
	</md-sidenav>

	<md-whiteframe
		class="md-whiteframe-6dp pb-1"
		layout
		layout-align="center center"
		style="max-width: 96%; margin: 20px auto"
	>
		<table class="table w-100 table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Owner Name</th>
					<th scope="col">Contact Number</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="res in restaurants track by $index">
					<th scope="row">{{$index + 1}}</th>
					<td>{{res.name}}</td>
					<td>{{res.ownerName}}</td>
					<td>{{res.contact}}</td>
					<td>
						<div style="display: inline-block" ng-click="editRestaurant(res.id)">
							<i class="fas fa-edit mx-1 text-primary" style="font-size: 22px; cursor: pointer"></i>
						</div>
						<div style="display: inline-block" ng-click="fetchDetails(res.id)">
							<i
								class="fas fa-info-circle text-success mx-1"
								style="font-size: 22px; cursor: pointer"
							></i>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</md-whiteframe>
</div>
